<p-toast></p-toast>
<div class="card p-5 border-round-xl shadow-2 mt-4" style="background: white; border: 1px solid #e5e7eb;">
    <div class="flex justify-content-between align-items-center mb-4 pb-3 border-top-1 surface-border">
        <div class="text-xl font-bold text-gray-800"><i class="pi pi-key mr-2 text-blue-500"></i>Changer Votre Mot de
            Passe</div>
    </div>
    <form [formGroup]="pwdForm">
        <div class="p-fluid grid">
            <div class="field col-12 md:col-6 mb-4">
                <label for="password1" class="font-medium text-700 block mb-2">Nouveau Mot de Passe</label>
                <p-password [feedback]="false" id="password1" placeholder="Nouveau Mot de Passe" [toggleMask]="true"
                    formControlName="password" styleClass="w-full" inputStyleClass="w-full p-2">
                </p-password>
                <div *ngIf="password?.touched && password?.invalid" class="mt-2 text-red-500 text-sm">
                    <small *ngIf="password?.errors?.['required']" class="block"><i
                            class="pi pi-exclamation-circle mr-1"></i>Mot de passe obligatoire.</small>
                    <small *ngIf="password?.errors?.['pattern']" class="block mt-1">
                        <i class="pi pi-exclamation-circle mr-1"></i>Le mot de passe doit contenir au moins une lettre
                        minuscule, un chiffre, un caractère spécial, et avoir une longueur de 8 à 20 caractères.
                    </small>
                </div>
            </div>

            <div class="field col-12 md:col-6 mb-4">
                <label for="password2" class="font-medium text-700 block mb-2">Confirmation de Mot de Passe</label>
                <p-password [feedback]="false" id="password2" placeholder="Confirmer Mot de Passe"
                    formControlName="confirmPassword" styleClass="w-full" inputStyleClass="w-full p-2"
                    [toggleMask]="true">
                </p-password>
                <div *ngIf="pwdForm.errors?.['notmatched'] && (pwdForm.touched || pwdForm.dirty)"
                    class="mt-2 text-red-500 text-sm">
                    <small class="block"><i class="pi pi-exclamation-circle mr-1"></i>Les mots de passe ne correspondent
                        pas.</small>
                </div>
            </div>
        </div>
    </form>
    <div class="flex justify-content-end mt-2 pt-3 border-top-1 surface-border">
        <button pButton pRipple label="Enregistrer les modifications" icon="pi pi-check"
            class="p-button-outlined p-button-sm px-4" (click)="resetPassword()"
            [disabled]="pwdForm.invalid || pwdForm.errors?.['notmatched'] || pwdForm?.errors?.['pattern']"></button>
    </div>
</div>